ul {
	min-height:85px;
	width:100%;
}
ul li{
	padding:20px;
}
li{
background-color: none;
}
li.active > a:hover {

    color: #555;
    cursor: pointer;
    background-color: #b0e0e6; 
}
.header{
	 height: 95px;
	 position: sticky;
	 width: 100%;
	 min-width: 980px;
}
.navbar-inverse {

    background-color: #5f9ea0;
    border-color: #5f9ea0;

}
li.active  > a{

    color: #000;
    background-color: #b0e0e6;
    border-radius: 10px;
}

