<div class=" product col-md-12">
    <div class="col-md-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
        <h1>For fill the details please click here</h1>
        <p>Our goal is to assist you in achieving and maintaining naturally radiant skin, by providing you with locally handmade, organic skincare products. Our products are carefully formulated by combining the most nutritious plant extracts, botanicals,
            vitamins, and oils for different skin types at various life stages. We bring you traditional and contemporary recipes known to be safe and nourishing for your skin by tuning into the best available wisdom from all over the world, starting
            from our roots in the South of France, inspired by the ancient science of Ayurveda in India.</p>
        <button class="btn btn-primary" (click)="view()">View Details Form...</button>
    </div>
</div>