<div class="col-md-2">
		<app-sidebar></app-sidebar>
	</div>
	<div class="col-md-10">
	<div class="empform">
	<div class="form-group">
		<label>Name</label>
		<input [(ngModel)]="emp.name" class="form-control">
	</div>
	<div class="form-group">
		<label>Department</label>
		<input [(ngModel)]="emp.dep" class="form-control">
	</div>
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input [(ngModel)]="emp.date" type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker>
  </div>
	<button (click)="submit()">Submit</button>
	<button (click)="add()">Add Records</button>
</div>
</div>